@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+TC&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
}

button {
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
}

input {
    font-family: 'Noto Sans TC', sans-serif;
}

button:active {
    transform: scale(.95);
}

button:focus,
input:focus {
    outline: none;
}

header {
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    position: relative;
}

header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

header * {
    z-index: 1;
}

header h1 {
    margin: 0 0 30px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 0 0 20px #000;
    font-size: 45px;
}

form {
    position: relative;
    width: 500px;
    max-width: 100%;
}

form input {
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%;
}

form button {
    background-color: #3951b6;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    padding: 13px 30px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.btn {
    background: #3951b6;
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
}

ul.songs {
    list-style-type: none;
    padding: 0;
}

ul.songs li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.container {
    margin: 30px auto;
    max-width: 100%;
    width: 500px;
}

.container h2 {
    font-weight: 400;
}

.container p {
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
}

.centered button {
    transform: scale(1.3);
    margin: 15px;
}