* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(.95);
}

button:focus,
input:focus {
    outline: none;
}

header {
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    position: relative;
}

header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

header * {
    z-index: 1;
}

header h1 {
    margin: 0 0 30px;
}